<%content_for :head do%>

<%end%>

<% title "Participe do nosso mandato!" %>
<div id="MainBox">
	<p>
		O nosso gabinete propõe a sua participação, como tem sido o perfil e trajetória do deputado Beto Trícoli, quando vereador e prefeito, lutando pela transparência e participação da população das decisões e formulação das políticas públicas. <br /><br />

		Gostaríamos que você enviasse sugestões, é muito fácil! <br /><br />

		Preencha o formulário abaixo ou mande sua idéia para o e-mail <a href="mailto: betotricoli@al.sp.gov.br">betotricoli@al.sp.gov.br</a> <a href="mailto:oubetrix43@hotmail.com">oubetrix43@hotmail.com</a> , com o assunto "sugestão".<br /><br />

		No corpo da mensagem, descreva sua sugestão em até 3 linhas ou preencha o formulário abaixo" <br /><br />
		<br /><br />
	</p>
	
	<%= render 'form' %>

</div>

